<!DOCTYPE html>
<html>
<head>
  <title>Contact Form Submission</title>
</head>
<body style="color: black; padding: 20px; font-family: Arial, sans-serif;">
  <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: white; color: black; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <img src="cid:logo" alt="TYC Logo" style="width: 80%; height: auto; padding: 0 10%;">
    <h3 style="text-decoration: underline; font-size: 1.5rem; font-weight: 600; margin: 0 auto; margin-bottom: 16px; margin-top: 50px; width: fit-content;">Contact Form Submission</h3>
    <div style="display: flex; flex-direction: row; margin-left: 9%; margin-right: 9%;">
      <p style="margin-bottom: 8px; "><strong>First Name:</strong> {{firstname}}</p>
      <p style="margin-bottom: 8px; margin-left: 10%;"><strong>Last Name:</strong> {{lastname}}</p>
    </div>  
    <p style="margin-bottom: 8px; margin-left: 9%; margin-right: 9%;"><strong>Email:</strong> {{email}}</p>
    <p style="margin-bottom: 8px; margin-left: 9%; margin-right: 9%;  margin-top: 5%;"><strong>Message:</strong></p>
    <p style="color: #3e4e4e; background-color: #eeeeee; padding: 2% 2%; margin: 0 9%; font-size: small; border-radius: 5px;">{{message}}</p>
  </div>
</body>
</html>
